body{
    background-image: url("/images/email-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: 'Freckle Face', cursive;

}

#imgLogo{
    width: 100%;
    _overflow: auto;
    margin: 0 0 1em;

}
#merit {
    border: 1px solid black;
    border-collapse: collapse;

}
img{
    border: 3px solid;

}
#timFoto{
    float: right;
    border-color: cornflowerblue;
}
#LogoHTML{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
}
#LogoURL{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
}
#LogoHTTP{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
}

p{
    font-size: 20px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
ul,ol{
    text-align:left;
}