
.number1 {
    background-color: rgb(222, 0, 0);
    width: 250px;
    height: 150px;
}

.number2 {
    background-color: rgb(224, 120, 0);
    width: 250px;
    height: 150px;
}

.number3 {
    background-color: rgb(252, 182, 3);
    width: 250px;
    height: 150px;
}

.number4 {
    background-color: rgb(2, 247, 56);
    width: 250px;
    height: 150px;
}

.number5 {
    background-color: rgb(2, 247, 219);
    width: 250px;
    height: 150px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0.3em 0.3em 0.3em black;
    font-size: 5em;
}

* {
    justify-content: center;
}